.card {
    width: 22%;
    height: 350px;
    box-shadow: 0 6px 27px 7px rgba(0, 0, 0, 0.06);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin: 12px;
    float: left;
    transition:  all 300ms ease-in-out;
    opacity: 0.7;
  
    &:hover {
        opacity:1;
        box-shadow: 0 6px 17px 7px rgba(0, 0, 0, 0.09);
    }

    .employee-container {
        background-color: transparent;
        width: 100%;
        height: 100%;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h3 {
            text-transform: uppercase;
            color: #303030;
            font-size: 1.1rem;
        }
    
        p {
            text-transform: capitalize;
            color: #303030;
            font-size: 0.8rem;
        }

    }

    .avatar {
        width: 150px;
        height: 150px;
        background-color: #dddddd;
        border-radius: 150px;
        margin: 1rem 0;
        background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;
        box-shadow: 0 3px 11px rgba(140, 140, 140, 0.23);
        border: 1px solid #dddddd;
    }

}


@media screen and (max-width:1200px) {
    .card {
        width: calc(33% - 24px);
    }
}

@media screen and (max-width:900px) {
    .card {
        width: calc(50% - 24px);
    }
}

@media screen and (max-width:600px) {
    .card {
        width: calc(100% - 24px);
    }
}